train_model/Labeled_Frames/cast/*.jpg
train_model/Labeled_Frames/pull/*.jpg
train_model/Labeled_Frames/wait/*.jpg

train_model/Model/*

train_model/Unlabeled_Frames/cast/*.jpg
train_model/Unlabeled_Frames/pull/*.jpg
train_model/Unlabeled_Frames/wait/*.jpg

